<div class="row">
  <div class="col-md-3">
    <h3 class="white">{{profile.name}}</h3>
    {{#if profile.hasImage}}
      <img src="/profile_images/{{profile.name}}.jpg">
    {{else}}
      <img src="/img/default_profile.png">
    {{/if}}
    {{#eq user.name profile.name }}
      <a href="/users/profile/edit">
        <button style="margin-top:12px" class="btn btn-primary">Edit Profile</button>
      </a>
    {{else}}
      <br>
      <br>
      <form method="post" action="/messages/send">
        <div class="form-group">
          <input type="hidden" name="recipient" value={{profile.name}}>
          <textarea class="form-control" name="message"></textarea>
          <button style="margin-top:12px" class="btn btn-primary">Send Message</button>
        </div>
      </form>
    {{/eq}}
  </div>
  <div class="col-md-3">
    <h3>&nbsp;</h3>
    <p><b>Age:</b> {{profile.age}}</p>
    <p><b>Height:</b> {{profile.height}}</p>
    <p><b>Weight:</b> {{profile.weight}}</p>
    <p><b>Zipcode:</b> {{profile.zipcode}}</p>
    <p><b>Major City:</b> {{profile.city}}</p>
    <p><b>Race:</b> {{profile.race}}</p>
  </div>
  <div class="col-md-3">
    <h3>&nbsp;</h3>
    <p><b>Hair Color:</b> {{profile.hairColor}}</p>
    <p><b>Eye Color:</b> {{profile.eyeColor}}</p>
    <p><b>HIV Status:</b> {{profile.hivStatus}}</p>
    <p><b>Orientation:</b> {{profile.orientation}}</p>
    <p><b>Body Hair:</b> {{profile.bodyHair}}</p>
    <p><b>Body Type:</b> {{profile.bodyType}}</p>
  </div>
  <div class="col-md-3">
    <h3>&nbsp;</h3>
    <p><b>Face hair:</b> {{profile.faceHair}}</p>
    <p><b>My Look:</b> {{profile.myLook}}</p>
    <p><b>Relationship:</b> {{profile.relationshipStatus}}</p>
    <p><b>Looking to:</b> {{profile.lookingTo}}</p>
  </div>
  <div class="col-md-6" style="position: relative; z-index:1; margin-top: 12px">
    {{!-- Public Photos --}}
    <h3 class="white">My Public Photos and Videos</h3>
    <div class="profile-images profile-images-pub text-center">
      {{#each publicImages}}
        <div class="profile-img-container">

          {{#match this '/video/'}}

            <video controls="true" playsinline style="max-width: 100%; max-height: 300px">
              <source src="http://images.eh.rafaelancheta.com/{{ this }}" {{#match this 'mp4'}} type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' {{ else}} type='video/ogg;codecs="avc1.42E01E, mp4a.40.2"' {{/match}} />
            </video>
            {{#eq ../../user.name ../../profile.name }}
              <div class="profile-img-delete" data-key="{{this}}">
                <form action="/images/delete" method="POST" style="margin-top:20px" >
                  <input type="hidden" name="key" value="{{this}}">
                  <input type="hidden" name="isVideo" value="true">
                  <button class="btn btn-primary">Delete Video</button>
                </form>
              </div>
            {{/eq}}

          {{else}}

            <img  src="http://images.eh.rafaelancheta.com/{{ this }}" />
            {{#eq ../../user.name ../../profile.name }}
              <div class="profile-img-delete" data-key="{{this}}">
                <form action="/images/delete" method="POST" style="margin-top:20px" >
                  <input type="hidden" name="key" value="{{this}}">
                  <button class="btn btn-primary">Delete Image</button>
                </form>
              </div>
            {{/eq}}

          {{/match}}

        </div>
      {{/each}}
        {{#if lessNumImagesPub}}
        {{#eq user.name profile.name }}
          <div class="profile-img-container text-center">
            <img src="/img/default_profile.png">
            <p>Upload a new photo</p>
          </div>        
        {{/eq}}
      {{/if}}
    </div>

    {{!-- Private Photos --}}
    {{#eq user.name profile.name }}
    <h3 class="white">My Private Photos and Videos</h3>
    <div class="profile-images profile-images-pri text-center">
      {{#each privateImages}}
        <div class="profile-img-container">

          {{#match this '/video/'}}

            <video controls="true" playsinline style="max-width: 100%; max-height: 300px">
              <source src="http://images.eh.rafaelancheta.com/{{ this }}" {{#match this 'mp4'}} type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' {{ else}} type='video/ogg;codecs="avc1.42E01E, mp4a.40.2"' {{/match}} />
            </video>
            {{#eq ../../user.name ../../profile.name }}
              <div class="profile-img-delete" data-key="{{this}}">
                <form action="/images/delete" method="POST" style="margin-top:20px" >
                  <input type="hidden" name="key" value="{{this}}">
                  <input type="hidden" name="isVideo" value="true">
                  <button class="btn btn-primary">Delete Video</button>
                </form>
              </div>
            {{/eq}}

          {{else}}

            <img  src="http://images.eh.rafaelancheta.com/{{ this }}" />
            {{#eq ../../user.name ../../profile.name }}
              <div class="profile-img-delete" data-key="{{this}}">
                <form action="/images/delete" method="POST" style="margin-top:20px" >
                  <input type="hidden" name="key" value="{{this}}">
                  <button class="btn btn-primary">Delete Image</button>
                </form>
              </div>
            {{/eq}}

          {{/match}}

        </div>
      {{/each}}

        {{#if lessNumImagesPri}}
        {{#eq user.name profile.name }}
          <div class="profile-img-container text-center">
            <img src="/img/default_profile.png">
            <p>Upload a new photo</p>
          </div>        
        {{/eq}}
        {{/if}}

    </div>
    {{/eq}}

  </div>
  {{#eq user.name profile.name }}
  <div class="col-md-6 text-center" style="margin-top: 12px">

    <form action="/images/upload" class="dropzone">
        <input type="hidden" name="private" value="false">
    </form>

    <form action="/images/upload" method="POST" enctype="multipart/form-data" style="margin-top:60px" >
      <div class="form-group">
        <label for="profile-image-upload" class="white">Upload A New Image</label>
        <input class="form-control-file" id="proflie-images-upload" 
                type="file" name="profile-image-upload"
                style="width: 222px; margin: 0 auto; margin-bottom: 12px">
        <input type="checkbox" name="private">
        <br>
        <button class="btn btn-primary">Upload Image</button>
      </div>
    </form>

    <form action="/images/upload/video" method="POST" enctype="multipart/form-data" style="margin-top:60px" >
      <div class="form-group">
        <label for="profile-video-upload" class="white">Upload A New Video</label>
        <input class="form-control-file" id="profile-video-upload" 
                type="file" name="profile-video-upload"
                style="width: 222px; margin: 0 auto; margin-bottom: 12px">
        <label for="profile-video-upload" class="white">Is Private</label>
        <input type="checkbox" name="private">
        <br>
        <button class="btn btn-primary">Upload Video</button>
      </div>
    </form>

  </div>
  {{/eq}}
</div>
