<div class="row">
  <div class="col-md-3">
    <h3 class="white">{{profile.name}}</h3>
    {{#if profile.hasImage}}
      <img src="/profile_images/{{profile.name}}.jpg">
    {{else}}
      <img src="/img/default_profile.png">
    {{/if}}
    {{#eq user.name profile.name }}
      <a href="/users/profile/edit">
        <button style="margin-top:12px" class="btn btn-primary">Edit Profile</button>
      </a>
    {{else}}
      <br>
      <br>
      <form method="post" action="/messages/send">
        <div class="form-group">
          <input type="hidden" name="recipient" value={{profile.name}}>
          <textarea class="form-control" name="message"></textarea>
          <button style="margin-top:12px" class="btn btn-primary">Send Message</button>
        </div>
      </form>
    {{/eq}}
  </div>
  <div class="col-md-3">
    <h3>&nbsp;</h3>
    <p><b>Age:</b> {{profile.age}}</p>
    <p><b>Height:</b> {{profile.height}}</p>
    <p><b>Weight:</b> {{profile.weight}}</p>
    <p><b>Zipcode:</b> {{profile.zipcode}}</p>
    <p><b>Major City:</b> {{profile.city}}</p>
    <p><b>Race:</b> {{profile.race}}</p>
  </div>
  <div class="col-md-3">
    <h3>&nbsp;</h3>
    <p><b>Hair Color:</b> {{profile.hairColor}}</p>
    <p><b>Eye Color:</b> {{profile.eyeColor}}</p>
    <p><b>HIV Status:</b> {{profile.hivStatus}}</p>
    <p><b>Orientation:</b> {{profile.orientation}}</p>
    <p><b>Body Hair:</b> {{profile.bodyHair}}</p>
    <p><b>Body Type:</b> {{profile.bodyType}}</p>
  </div>
  <div class="col-md-3">
    <h3>&nbsp;</h3>
    <p><b>Face hair:</b> {{profile.faceHair}}</p>
    <p><b>My Look:</b> {{profile.myLook}}</p>
    <p><b>Relationship:</b> {{profile.relationshipStatus}}</p>
    <p><b>Looking to:</b> {{profile.lookingTo}}</p>
  </div>
</div>
